# git
.git
.github
.gitattributes
.gitignore

# python
*.egg-info
*.egg/
*.pyc
*.swp
.coverage
.mypy_cache
.tox
__pycache__
build
dist
html/*
tests
venv/

# node
node_modules
build
npm-debug.log
.env
.DS_Store

# containers
Dockerfile
docker-compose.yml

# volumes
volumes

# other
*.aed
tags
utils/Homo_sapiens.GRCh37.87.gtf
utils/Homo_sapiens.GRCh38.99.gtf
utils/MANE.GRCh38.v0.8.summary.txt
utils/hg38_annotations/
