{% extends "layout.html" %}
{% from "navbar.html" import navbar %}

{% block title %}GENS - version {{version}}{% endblock title %}

{% block css_style %}
  {{ super() }}
  <link rel='stylesheet' href='{{ url_for('home.static', filename='home.min.css') }}' type='text/css'>
{% endblock css_style %}

{% block scripts %}
  {{ super() }}
{% endblock scripts %}

{% block body %}
  {{ navbar('landing', version, current_user) }}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="content">
  GENS - version <strong>{{ version }}</strong>

  <mark>Gens</mark> is a web-based interactive tool to visualize genomic copy number profiles from WGS data. It plots the normalized read depth and alternative allele frequency. It currently does not attempt to visualize breakpoint information, so use Scout/IGV for that! The way we generate the data it is suitable for visualizing CNVs of sizes down to a couple of Kbp, for smaller things use Scout/IGV!
  <div>

  {% if current_user and current_user.is_authenticated %}
    <a class="btn btn-primary btn-lg text-white" href="{{ url_for('home.home') }}">Welcome to GENS {{ current_user.name }}!</a>
  {% elif config.GOOGLE %}
        <a class="btn btn-primary btn-lg text-white" href="{{ url_for('login.login') }}" role="button">
          Login with Google
        </a>
  {% else %}
    <form class="row" method="POST" action="{{ url_for('login.login') }}">
     <div class="col-8">
       <input type="text" placeholder="email" class="form-control" name="email">
     </div>
     <div class="col-4">
       <button type="submit" class="btn btn-primary form-control text-white">Login</button>
     </div>
    </form>
  {% endif %}
  </div>
</div>
{% endblock content %}

