{% macro navbar(selected, version) %}
<nav class="navbar">
  <a id="home-link" href="{{ url_for('home.home') }}">
    <div class="logo-container"><span class="logo"></span></div>
  </a>
  <div class="version">v{{ version }}</div>
  <ul>
    <li class="{% if selected == 'home' %}active{% endif %}">
      <a href="{{ url_for('home.home') }}">Samples</a>
    </li>
    <li class="{% if selected == 'about' %}active{% endif %}">
      <a href="{{ url_for('home.about') }}">About</a>
    </li>
  </ul>
</nav>
{% endmacro %}
