{% macro navbar(selected, version, current_user) %}
<nav class="navbar">
  <a id="home-link" href="{{ url_for('home.home') }}">
    <div class="logo-container"><span class="logo"></span></div>
  </a>
  <div class="version">v{{ version }}</div>
  <ul>
    <li class="{% if selected == 'home' %}active{% endif %}">
      <a href="{{ url_for('home.home') }}">Samples</a>
    </li>
    <li class="{% if selected == 'about' %}active{% endif %}">
      <a href="{{ url_for('home.about') }}">About</a>
    </li>

  {% if current_user and current_user.is_authenticated %}
    <li class="logout">
      <a href="{{ url_for('login.logout') }}">Logout {{ current_user.name }} </a>
    </li>
  {% else %}
    <li class="logout {% if selected == 'landing' %}active{% endif %}">
      <a href="{{ url_for('home.landing') }}">Login</a>
    </li>
  {% endif %}

  </ul>
</nav>
{% endmacro %}
