html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.grid-container {
}

#interactive-container {
    position: relative;
}

#overview-container {
    position: relative;
}

#overview-div {
    display: block;
}

#staticCanvas {
    position: relative;
    top: 0;
    left: 0;
    z-index=0;
    pointer-events: none;
}

#dataCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index=-1;
}

#drawCanvas {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}
