{% extends "layout.html" %}

{% block title %}Error - {{ error_code }}{% endblock title %}

{% block css_style %}
    {{ super() }}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/error.min.css') }}' type='text/css'>
{% endblock css_style %}

{% block body %}
<div class="content">
    <p id="error-code">{{ error_code }}</p>
    <img id="broken-dna" src="{{ url_for("gens.static", filename='svg/broken-dna.svg') }}" alt="broken DNA" />
    <div class="error-msg-container">
        <h1 class="headline">Something went wrong</h1>
        <p>Gens encountered and error. Please contact the administrator to resolve this issue.</p>
        <p>{{ error_desc }}</p>
    </div>
</div>
{% endblock %}
