
{% extends "layout.html" %}
{% block title %}Visualization{% endblock title %}
{% block css_style %}
  {{ super() }}
{% endblock css_style %}
{% block scripts %}
  {{ super() }}
	{% assets "js_gens" %}
    <script type="text/javascript" src='{{ ASSET_URL }}?u={{ last_updated }}'></script>
	{% endassets %}
{% endblock scripts %}
{% block body %}
<div class="loading-view">
    <div class="loading-container">
        <p id="loading" class="message">Loading sample</p>
        <p id="printing" class="message" hidden>Preparing to print</p>
        <div class="spinner"></div>
    </div>
</div>
<div id='main-container'>
    <div class="header">
        <div id='left-group'>
            <span class='header-icon no-print' id='info'></span>
            <iframe id='info-box'
                src='{{ url_for('static', filename='snippets/info.html')}}?u={{ last_updated }}'>
            </iframe>
            <span>{{todays_date}}</span>
        </div>
        <div id='center-group'>
            <span class='bold' title='Sample ID'>{{sample_name}}</span>
            <span class='version'>(Genome build: {{hg_type}})</span>
        </div>
        <div id='right-group'>
            <span class='version'>Gens v{{ version }}</span>
            <span class='header-icon print no-print'
                onclick='loadPrintPage(inputField.value);' title='Print'>
            </span>
            <span class='header-icon permalink no-print'
                onclick='copyPermalink("{{hg_type}}", inputField.value);' title='Copy permalink'>
            </span>
        </div>
    </div>

    <div id='grid-container'>
        <div id='visualization-container'>

            <div id='interactive-container'>
                <canvas id='interactive-content'></canvas>
                <canvas id='interactive-static'></canvas>
                <div id='loading-div'>LOADING...</div>
            </div>

            <div id='variant-container' class='info-container'>
                <canvas id='variant-canvas' class='info-canvas'></canvas>
                <div id='variant-titles' class='info-titles'></div>
            </div>

            <div id='track-container' class='info-container'>
                <canvas id='track-canvas' class='info-canvas'></canvas>
                <div id='track-titles' class='info-titles'></div>
            </div>


            <div id='annotation-container' class='info-container'>
                <canvas id='annotation-canvas' class='info-canvas'></canvas>
                <div id='annotation-titles' class='info-titles'></div>
            </div>

            <div id='button-container'>
                <select id='source-list'></select>
                <button onclick='left(ic);' class='icon no-print'>
                    <span class='icon arrow-left' title='Left'></span>
                </button>
                <button onclick='right(ic);' class='icon no-print'>
                    <span class='icon arrow-right' title='Right'></span>
                </button>
                <button onclick='zoomIn(ic);' class='icon no-print'>
                    <span class='icon search-plus' title='Zoom in'></span>
                </button>
                <button onclick='zoomOut(ic);' class='icon no-print'>
                    <span class='icon search-minus' title='Zoom out'></span>
                </button>
                <form id='region_form'>
                    <input onFocus='this.select();' id='region_field' type='text' size=20>
                    <input type='submit' class='no-print' title='Submit range'>
                </form>
            </div>

            <div id='overview-container'>
                <canvas id='overview-static'></canvas>
                <div id='overview-marker'></div>
            </div>
        </div>
    </div>
</div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    // Print page settings
    let printing = false;
    if ('{{print_page}}' == 'true') {
        printing = true;
        let mainContainer = document.querySelector('#main-container');
        mainContainer.style.width = '1122px';
        mainContainer.style.overflowY = 'hidden';
        let loading = document.querySelector('.loading-container');
        loading.querySelector("#loading").toggleAttribute("hidden")
        loading.querySelector("#printing").toggleAttribute("hidden")
    }

    // FLASK values
    const sampleName = '{{ sample_name }}';
    const hgType = {{ hg_type }};
    const hgFileDir = '{{ hg_filedir }}';
    const annotationFile = '{{ annotation }}';
    const variants = {{ variants | tojson | safe }};
    const UiColors = {{ ui_colors | tojson | safe }};

    // WEBGL values
    const near = 0.1;
    const far = 100;
    const lineMargin = 2; // Margin for line thickness

    // Listener values
    const inputField = document.getElementById('region_field');

    // Set first input field value for ic
    inputField.value = '{{chrom}}' + ':' + {{start}} + '-' + {{end}};
    inputField.placeholder = inputField.value;

    // Hide non-rendered content
    window.onload = (event) => {
        document.getElementById('grid-container').style.visibility = 'hidden';
    };


    // Initiate and draw interactive canvas
    let ic = new InteractiveCanvas(inputField, lineMargin, near, far,
        sampleName, hgType, hgFileDir);
    ic.drawStaticContent();
    ic.drawInteractiveContent();

    // Initiate and draw variants canvas
    let vc = new Variant(ic.x, ic.plotWidth, near, far, hgType, UiColors['variants']);
    vc.drawTracks(inputField.value);

    // Initiate and draw track canvas
    let tc = new Transcript(ic.x, ic.plotWidth, near, far, hgType, UiColors['transcripts']);
    tc.drawTracks(inputField.value);

    // Initiate and draw annotation canvas
    let ac = new Annotation(ic.x, ic.plotWidth, near, far, hgType, annotationFile);

    // Initiate and draw overview canvas
    let oc = new OverviewCanvas(ic.x, ic.plotWidth, lineMargin, near,
        far, sampleName, hgType, hgFileDir);
    oc.drawOverviewContent(printing);

    // Redraw when new region is requested
    document.getElementById('region_form').addEventListener('submit',
        function (event) {
            event.preventDefault();
            ic.redraw(inputField.value);
        });
</script>
{% endblock body %}
