<!-- GENS overview template -->
{% extends "layout.html" %}
{% block title %}Visualization{% endblock title %}
{% block css_style %}
  {{ super() }}
{% endblock css_style %}
{% block scripts %}
    <script src='{{ url_for('static', filename='js/three.min.js') }}'></script>
    <script src='{{ url_for('static', filename='js/genecanvas.js') }}'></script>
    <script src='{{ url_for('static', filename='js/interactive.js') }}'></script>
    <script src='{{ url_for('static', filename='js/fetch.js') }}'></script>
    <script src='{{ url_for('static', filename='js/track.js') }}'></script>
    <script src='{{ url_for('static', filename='js/transcript.js') }}'></script>
    <script src='{{ url_for('static', filename='js/variant.js') }}'></script>
    <script src='{{ url_for('static', filename='js/annotation.js') }}'></script>
    <script src='{{ url_for('static', filename='js/overview.js') }}'></script>
{% endblock scripts %}

{% block body %}
<div class="loading-view">
    <div class="loading-container">
        <p id="loading" class="message">Loading sample</p>
        <p id="printing" class="message" hidden>Preparing to print</p>
        <div class="spinner"></div>
    </div>
</div>
<div id='main-container'>
    <div class="header">
        <div id='left-group'>
            <p></p>
            <span class='header-icon no-print' id='info'></span>
            <iframe id='info-box'
                src='{{ url_for('static', filename='snippets/info.html')}}?u={{ last_updated }}'>
            </iframe>
            <span>{{todays_date}}</span>
        </div>
        <div id='center-group'>
            <span class='bold' title='Sample ID'>{{sample_name}}</span>
            <span class='version'>(Genome build: {{hg_type}})</span>
        </div>
        <div id='right-group'>
            <span class='version'>Gens v{{ version }}</span>
            <span class='header-icon print no-print'
                onclick='loadPrintPage(inputField.value);' title='Print'>
            </span>
            <span class='header-icon permalink no-print'
                onclick='copyPermalink("{{hg_type}}", inputField.value);' title='Copy permalink'>
            </span>
        </div>
    </div>

    <div id='grid-container'>
        <div id='visualization-container'>

            <div id='interactive-container'>
                <canvas id='interactive-content'></canvas>
                <canvas id='interactive-static'></canvas>
                <div id='interactive-marker' class='highlight'></div>
                <div id='loading-div'>LOADING...</div>
            </div>

            <div id='variant-container' class='info-container'>
                <canvas id='variant-content' class='info-canvas'></canvas>
                <canvas id='variant-draw' class='info-canvas offscreen'></canvas>
                <div id='variant-titles' class='info-titles'></div>
            </div>

            <div id='transcript-container' class='info-container'>
                <canvas id='transcript-content' class='info-canvas'></canvas>
                <canvas id='transcript-draw' class='info-canvas offscreen'></canvas>
                <div id='transcript-titles' class='info-titles'></div>
            </div>

            <div id='annotation-container' class='info-container'>
                <canvas id='annotation-content' class='info-canvas'></canvas>
                <canvas id='annotation-draw' class='info-canvas offscreen'></canvas>
                <div id='annotation-titles' class='info-titles'></div>
            </div>

            <div id='button-container'>
                <select id='source-list'></select>
                <button onclick='ic.panTracksLeft();' class='icon no-print'>
                    <span class='icon arrow-left' title='Left'></span>
                </button>
                <button onclick='ic.panTracksRight();' class='icon no-print'>
                    <span class='icon arrow-right' title='Right'></span>
                </button>
                <button onclick='ic.zoomIn();' class='icon no-print'>
                    <span class='icon search-plus' title='Zoom in'></span>
                </button>
                <button onclick='ic.zoomOut();' class='icon no-print'>
                    <span class='icon search-minus' title='Zoom out'></span>
                </button>
                <form id='region_form'>
                    <input onFocus='this.select();' id='region_field' type='text' size=20>
                    <input type='submit' class='no-print' title='Submit range'>
                </form>
            </div>

            <div id='overview-container'>
                <canvas id='overview-static'></canvas>
                <div class='highlight' id='overview-marker'></div>
            </div>
        </div>
    </div>
</div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    const _apiHost = 'api/';

    // Print page settings
    let printing = false;
    if ('{{print_page}}' == 'true') {
        printing = true;
        let mainContainer = document.querySelector('#main-container');
        mainContainer.style.width = '1122px';
        mainContainer.style.overflowY = 'hidden';
        let loading = document.querySelector('.loading-container');
        loading.querySelector("#loading").toggleAttribute("hidden")
        loading.querySelector("#printing").toggleAttribute("hidden")
    }

    // FLASK values
    const sampleName = '{{ sample_name }}';
    const hgType = {{ hg_type }};
    const hgFileDir = '{{ hg_filedir }}';
    const annotationFile = '{{ annotation }}';
    const selectedVariant = "{{ selected_variant }}";
    const UiColors = {{ ui_colors | tojson | safe }};

    // WEBGL values
    const near = 0.1;
    const far = 100;
    const lineMargin = 2; // Margin for line thickness

    // Listener values
    const inputField = document.getElementById('region_field');

    // Set first input field value for ic
    inputField.value = '{{chrom}}' + ':' + {{start}} + '-' + {{end}};
    inputField.placeholder = inputField.value;

    // Hide non-rendered content
    window.onload = (event) => {
        document.getElementById('grid-container').style.visibility = 'hidden';
    };


    // Initiate interactive canvas
    console.time('get interactive content');
    let ic = new InteractiveCanvas(inputField, lineMargin, near, far,
        sampleName, hgType, hgFileDir);
    console.timeEnd('get interactive content');

    // Setup functions to run when the data has finished loading
    document.addEventListener('data-loaded', () => {
        // hide loading
        document.querySelector('.loading-view')
                .toggleAttribute('hidden');
        // display grid containers
        document.querySelector('#grid-container')
                .style.visibility = 'visible';
        document.querySelector('#grid-container')
                .style.display = 'grid';
        // display printing
        if (printing == true) {
          printPage();
        }
    });

    // Initiate variant, annotation and transcript canvases
    const vc = new Variant(ic.x, ic.plotWidth, near, far, hgType, UiColors['variants'], selectedVariant);
    const tc = new Transcript(ic.x, ic.plotWidth, near, far, hgType, UiColors['transcripts']);
    const ac = new Annotation(ic.x, ic.plotWidth, near, far, hgType, annotationFile);
    // Initiate and draw overview canvas
    const oc = new OverviewCanvas(ic.x, ic.plotWidth, lineMargin, near,
        far, sampleName, hgType, hgFileDir);

    // Draw content
    Promise.all([
            ic.drawStaticContent(),
            ic.drawInteractiveContent(),
            vc.drawTrack(inputField.value),
            tc.drawTrack(inputField.value),
            oc.drawOverviewContent(printing),
        ]);

    // Redraw when new region is requested
    document.getElementById('region_form').addEventListener('submit',
        function (event) {
            event.preventDefault();
            ic.redraw(inputField.value);
        });

</script>
{% endblock body %}
