<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>GENS - {% block title %}{% endblock title %}</title>
        <link rel='icon' href='data:,'>
        {% block css_style %}
					  <link rel='stylesheet' href='{{ url_for('static', filename='css/gens.min.css') }}' type='text/css'>
        {% endblock css_style %}
        {% block scripts %}
        {% endblock scripts %}
    </head>
    <body>
	{% block body %}
	{% block content %}
	{% endblock content %}
	{% endblock body %}
    </body>
</html>
