$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logo {
    img {
        width: 500px;
    }

    .version {
        font-style: italic;
    }
}

.card-panel {
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        margin: 10px;
        padding: 15px 20px 20px 20px;
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
    @include tablet {
        .card {
            max-width: 100%;
            flex: 100%;
        }
    }
}

#loaded-db-data {

    h2, h3, h4 {
        margin: 0;
        padding-top: 0;
        padding-bottom: 5px;

        .year {
            font-size: 0.85em;
        }
    }

    h2 {
        font-size: 1.4em;
    }

    ul {
        margin: 0;
        padding-top: 0;
    }
    
    .year {
        font-weight: lighter;
        font-style: italic;
    }
}

#config {
    @extend #loaded-db-data;

    h3 { padding-top: 10px; }
    h4 { 
        padding-top: 5px;
        padding-bottom: 0;
    }

    .color-group { 
        width: 150px;
        padding-top: 5px;
        margin-left: 20px;
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
    .title { margin: 0; }

    .color-box {
        width: 30px;
        height: 20px;
        margin-left: 20px;
    }

}
