#broken-dna {
    position: absolute;
    transform: rotate(-80deg);
    width: 800px;
    top: -130px;
    left: 30%;
    z-index: -1;
}

.content {
    margin: auto;
    max-width: 60%;
    margin-top: 50px;
    padding: 20px 15px;

    #error-code {
        z-index: 1;
        position: relative;
        left: -150px;
        top: 50px;
        margin: 0;
        padding: 0;
        // font
        font-size: 150px;
        font-weight: bolder;
        letter-spacing: 10px;
        transform: rotate(-25deg);
        color: #4d5663;
    }

    .headline {
        font-size: 48px;
        text-align: center;
        font-style: italic;
        margin-top: 0;
    }

    p {
        text-align: center;
        padding-top: 15px;
    }

    .error-msg-container {
        position: absolute;
        top: 110%;
        width: 40%;
        border-radius: 4px;
        padding: 20px;
        // center in parent
        left: 50%;
        transform: translateX(-50%);
    }
}

.bold {
    font-weight: bold;
}
