@import 'defaults', 'navbar';
// region marker
$marker-color: rgba(#dcd16f, 0.3);
// buttons
$btn-zoom-color: #8FBCBB;
$btn-navigate-color: #6DB2C5;

$btn-submit-color: #6DB2C5;
html, body {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  z-index: 1;
  display: none;

  .feature {
    display: none;
  }

  .feature[data-show] {
    display: block;
  }
}

.tooltip[data-show] {
  display: block
}

.tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}

#loading-div {
    display:none;
    position:absolute;
    font-family:sans-serif;
    font-size:9pt;
    font-weight:bold;
    color:#567;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 210px;
    z-index: 10;
    background-color: $default-bg-color;
}

.help-popup {
    // dimensions and color
    display: none;
    transition: opacity 2s linear 0.5s;
    color: $default-font-color;
    background: $default-bg-color;
    border: 1px solid $default-font-color;
    width: 300px;
    padding: 0px 10px 10px 10px;
    // positioning
    position: absolute;
    top: 32px;
    right: 25px;
    z-index: 2;
    // text properties
    font-size: small;
    text-align: left;

    h3, ul, p {
        margin-bottom: 4px;
    }

    ul, p {
        margin-top: 4px;
    }
}

.info:hover + .help-popup {
    display: block;
}

.header {
    font-size: 22px;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    grid-template-areas: 'header header header';

    @media only screen {
        font-family: $default-font;
        background: $menubar-bg-color;
        color: $menubar-font-color;
    }

    @media only print {
        font-family: $default-font-print;
        background: $menubar-bg-color-print;
        color: $menubar-font-color-print;

    }

    #left-group {
        grid-row: 1;
        grid-column: 1;
        text-align: left;
    }

    #center-group {
        grid-row: 1;
        grid-column: 2;
        text-align: center;
    }

    #right-group {
        grid-row: 1;
        grid-column: 3;
        text-align: right;
    }

    .header-icon {
        background-size: contain;
        display: inline-block;
        width: 20px;
        height: 20px;
        filter: invert(88%) sepia(97%) saturate(3909%) hue-rotate(179deg) brightness(111%) contrast(105%);
    }

    .print-icon {
        background-size: contain;
        position: fixed;
        top: 40%;
        left: 50%;
        width: 100px;
        height: 100px;
        filter: invert(70%);
        visibility: hidden;
    }

    .info-icon {
        position: absolute;
    }

    .bold {
        font-weight: bold;
    }

    #home-link {
        text-decoration: none;
    }

    #logo-container {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        background: $menubar-font-color;
    }

    .logo {
        background: url(/gens/static/svg/gens-logo-only.svg) no-repeat top left;
        background-size: contain;
        width: 35px;
        height: 35px;
        display: inherit;
        // center in parent
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .version {
        font-size: 12px;
    }

    .date {
        font-size: 18px;
        margin-left: 15px;
    }
}

#main-container {
    grid-row: 1;
    grid-column: 1;
}

#visualization-container {
    height: min-content;
    display: none;
    grid-row: 1;
    grid-column: 1;

}

#button-container {
    text-align: center;
    grid-row: 7;
    grid-column: 1;
    margin-top: 5px;

    @media only print {
        page-break-after: always;
    }

    select {
        margin-right: 15px;
    }

    form {
        margin-left: 15px;
        display: inline;
    }

    form.error:disabled {
        outline: 5px dotted red;
        background-color: red;
    }

    .button {
        border: 0px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 5px 15px;

        &--zoom-in {
            @extend .button;
            background: $btn-zoom-color;
            margin-left: 5px;
            margin-right: 2px;
        }

        &--zoom-out {
            @extend .button;
            background: $btn-zoom-color;
            margin-right: 5px;
        }

        &--pan {
            @extend .button;
            background: $btn-navigate-color;

        }
        &--submit {
            @extend .button;
            background: $btn-submit-color;
        }
    }

    .icon {
        background-size: contain;
        display: inline-block;
        width: 15px;
        height: 15px;
    }
}

#chromosome-title {
    display: grid;
    grid-row: 1;
    grid-column: 1;
}

#cytogenetic-ideogram {
    display: grid;
    grid-row: 2;
    grid-column: 1;

    .marker {
        border-style: solid;
        border-color: red;
        border-left-width: 2px;
        border-right-width: 2px;
    }
}

#interactive-container {
    display: grid;
    grid-row: 3;
    grid-column: 1;

    #interactive-static {
        z-index: 1;
        pointer-events: none;
        grid-row: 4;
        grid-column: 1;
    }

    #interactive-content {
        z-index: 1;
        grid-row: 4;
        grid-column: 1;
    }

    #interactive-marker {
        position: absolute;
        z-index: 1;
    }
}

#interactive-options {
    text-align: center;
    width: 100%;
    height: 18px;
}


#source-list {
    visibility: hidden;
    height: 100%;
    height: 21px;
    width: 200px;
}

#times {
    background: url(./svg/times-solid.svg) no-repeat top left;
}

#trash-alt {
    background: url(./svg/trash-alt-regular.svg) no-repeat top left;
}

.marker {
    background-color: $marker-color;
    border:  dashed 1px #7c7c7c;
    border-top-width: 0;
    border-bottom-width: 0;
    pointer-events:none;
    position: relative;
}

.info-container[data-state=nodata] {
    height: 0;
    border: none;
}

.info-container[data-state=collapsed] {
    padding-right: 0;
    border: 1px solid gray;
    overflow-y: hidden;
}

.info-container[data-state=expanded] {
    padding-right: 6px;
    border: 1px solid gray;
}

.track-container[data-state=data] {
    visibility: visible;
}

.track-container[data-state=nodata] {
    visibility: collapse;
    height: 0;
}

#variant-container {
    grid-row: 4;
}

#transcript-container {
    grid-row: 5;
}

#annotation-container {
    padding-top: 10px;
    grid-row: 6;
}

.track-xlabel {
    // position
    position: relative;
    top: 25px;
    width: 80px;
    z-index: 10;
    margin: 0;
    padding: 0;
    // text properties
    transform: rotate(270deg);
    text-align: center;
    font-size: x-small;
    font-weight: bold;
}

.info-container {
    display: grid;
    grid-column: 1;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100px;

    .info-canvas {
        top: 0;
        left: 0;
        z-index: 0;
        grid-row: 1;
        grid-column: 1;
    }

    .info-titles {
        top: 0;
        left: 0;
        z-index: 1;
        grid-row: 1;
        grid-column: 1;
        position: relative;
    }
    .offscreen {
        visibility: hidden;
    }
}

.info-container::-webkit-scrollbar {
    width: 6px;
    border-left: 1px solid black;
}

.info-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.info-container::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, 0.5);
}


.info {
    background: url(./svg/info-circle-fill.svg) no-repeat top left;
}

.print {
    background: url(./svg/printer-fill.svg) no-repeat top left;
}

.permalink {
    background: url(./svg/link-45deg.svg) no-repeat top left;
}

.arrow-left {
    background: url(./svg/arrow-left.svg) no-repeat top left;
}

.arrow-right {
    background: url(./svg/arrow-right.svg) no-repeat top left;
}

.search-plus {
    background: url(./svg/zoom-in.svg) no-repeat top left;
}

.search-minus {
    background: url(./svg/zoom-out.svg) no-repeat top left;
}

.loading-view {
    // pos
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    margin: 0;
    // style
    $black: #000;
    background-color: $default-bg-color;

    .loading-container {
        position: relative;
        top: 30%;
        margin: auto;
        display: flex;
        width: 190px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .message {
        font: italic 1.2em sans-serif;
        padding-right: 12px;
        color: $default-font-color;
        flex: 1;
    }
    .spinner {
        border-top: 3px solid rgba($menubar-bg-color, 0.5);
        border-right: 3px solid transparent;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin .8s linear infinite;
    }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
    font-family: sans-serif;
    padding-left: 10px;
    h1 {
        margin: 2px;
        font-size: 1.5em;
    }

    p { margin: 2px 2px 10px 0;}

    .version { font-weight: bold;}
}


#overview-container {
    display: grid;
    grid-row: 8;
    grid-column: 1;

    #overview-static {
        top: 0;
        left: 0;
        z-index: 0;
        grid-row: 1;
        grid-column: 1;
    }

    #staticCanvas {
        top: 0;
        left: 0;
        z-index: 0;
        pointer-events: none;
        grid-row: 1;
        grid-column: 1;
    }

    #dataCanvas {
        top: 0;
        left: 0;
        z-index: -1;
        grid-row: 1;
        grid-column: 1;
    }

    #drawCanvas {
        top: 0;
        left: 0;
        visibility: hidden;
    }

    #staticOverviewCanvas {
        top: 0;
        left: 0;
        z-index: 0;
        visibility: hidden;
    }

    #drawOverviewCanvas {
        top: 0;
        left: 0;
        visibility: hidden;
    }

    #overview-marker {
        position:relative;
    }

    .marker {
        border-color: darkred;
    }
}
