@import "defaults", "navbar";

$table-border-color: #ddd;
$selected-color: adjust-color($menubar-bg-color, $lightness: +30%);


.align-right { text-align: right; }
.content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    .display-info {
        margin-bottom: 4px;
    }

    table {
      border-collapse: collapse;
      tr {
          border: 1px solid $table-border-color;
      }
      td {
          padding: 8px 12px;
          border: 1px solid $table-border-color;
      }

      thead {
          background-color: $menubar-bg-color;
          color: $menubar-font-color;
          font-weight: bold;
      }

      tbody {
          // hover and coloring of table rows
          tr:nth-child(even) { background-color: #f2f2f2;}
          tr:hover { background-color: $table-border-color;}
          // other styling
      }
    }
}

.pagination {
    float: right;
    margin-top: 10px;
    padding-bottom: 50px;


    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li:hover { background-color: $table-border-color;}

    li {
        float: left;
        border-style: solid solid solid hidden;
        border-width: 1px;
        border-color: grey;
    }

    li:first-child {
        border-style: solid;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    li:last-child {
        border-style: solid solid solid hidden;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    a {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: $default-font-color;
    }
}

.disabled {
    pointer-events: none;
    a {
        color: dimgray;
    }
}

.selected {
    background-color: $selected-color;

    a {
        color: $menubar-font-color;
    }
}

// icons
.icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    transform: scale(1.4);
}

.icon-color-red {filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);}

.icon-check {
    background: url(./svg/check.svg) no-repeat top left;
}

.icon-x {
    background: url(./svg/x.svg) no-repeat top left;
}

