<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <link rel='stylesheet' href='static/css/cov.css' type='text/css'>
        <link rel='icon' href='data:,'>
        <script src='{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}'></script>
        <script src='{{ url_for('static', filename='js/three.min.js') }}'></script>
        <html>
            <div id='progress-container'>
                <progress value="0" max="1" id='progress-bar'></progress>
            </div>

            <div id='grid-container'>
                <div id='annotation-overlays'></div>

                <div id='annotation-container'>
                    <canvas id='annotation'></canvas>
                </div>

                <div id='visualization-container'>
                    <div id='interactive-container'>
                        <canvas id='interactive-content'></canvas>
                        <canvas id='interactive-static'></canvas>
                    </div>

                    <div id='track-container'>
                        <canvas id='track-canvas'></canvas>
                        <div id='track-titles'></div>
                    </div>

                    <div id='button-container'>
                        <button onclick='left(ic, baf, logr);' class='icon'>
                            <span class='icon' id='arrow-left' title='Left'></span>
                        </button>
                        <button onclick='right(ic, baf, logr);' class='icon'>
                            <span class='icon' id='arrow-right' title='Right'></span>
                        </button>
                        <button onclick='zoomIn(ic, baf, logr);' class='icon'>
                            <span class='icon' id='search-plus' title='Zoom in'></span>
                        </button>
                        <button onclick='zoomOut(ic, baf, logr);' class='icon'>
                            <span class='icon' id='search-minus' title='Zoom out'></span>
                        </button>
                        <form id='region_form'>
                            <input name='region' id='region_field' type='text' size=20>
                            <input type='submit' title='Submit range'>
                        </form>
                    </div>

                    <div id='overview-container'>
                        <canvas id='overview-static'></canvas>
                    </div>
                </div>
            </div>
        </html>
    </head>

    <body>
        <script src='{{ url_for('static', filename='js/genecanvas.js') }}'></script>
        <script src='{{ url_for('static', filename='js/annotation.js') }}'></script>
        <script src='{{ url_for('static', filename='js/interactive.js') }}'></script>
        <script src='{{ url_for('static', filename='js/track.js') }}'></script>
        <script src='{{ url_for('static', filename='js/overview.js') }}'></script>
        <script>

            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            // FLASK VALUES //
            let sampleName = '{{ sample_name }}';

            let callChrom = '{{ call_chrom }}';
            let callStart = {{ call_start }};
            let callEnd   = {{ call_end }};

            // WEBGL VALUES //
            let near = 0.1;
            let far = 100;
            let lineMargin = 2; // Margin for line thickness

            // Listener values
            let drag = false;
            let dragStart;
            let dragEnd;
            let inputField = document.getElementById('region_field');

            // BAF values
            let baf = {
                yStart: 1.0, // Start value for y axis
                yEnd: 0.0, // End value for y axis
                step: 0.2, // Step value for drawing ticks along y-axis
                color: '#000000' // Viz color
            };

            // LOGR values
            let logr = {
                yStart: 4.0, // Start value for y axis
                yEnd: -4.0, // End value for y axis
                step: 1.0, // Step value for drawing ticks along y-axis
                color: '#000000' // Viz color
            };

            // Hide non-rendered content
            window.onload = (event) => {
                document.getElementById('grid-container').style.visibility = 'hidden';
                document.title = '{{ sample_name }}'
            };

            // Reload page on window resize
            window.onresize = (event) => {
                window.location.reload(false);
            };

            // Set first input field value for ic
            inputField.placeholder = '1:100000-200000';

            // Initiate and draw interactive canvas
            let ic = new InteractiveCanvas(inputField, lineMargin, near, far);
            ic.drawStaticContent(ic, baf, logr);
            ic.drawInteractiveContent(ic, baf, logr);

            // Adjust canvas margins to compensate for extra hidden data
            let adjustedMargin = Math.min(0, window.innerWidth - ic.width) / 2;
            document.getElementById('visualization-container').style.marginLeft =
                adjustedMargin + 'px';

            // Initiate and draw track canvas
            document.getElementById('track-container').style.marginLeft = ic.x + 'px';
            let tc = new TrackCanvas(ic.x + adjustedMargin, ic.boxWidth, near, far);
            tc.drawTracks(inputField.placeholder);

            // Initiate and draw overview canvas
            let oc = new OverviewCanvas(ic.x, lineMargin, adjustedMargin, near, far);
            oc.drawOverviewContent(oc, baf, logr);

            // Initiate annotation canvas
            let ac = new Annotation(document.getElementById(
                        'visualization-container').clientHeight, sampleName);
            ic.loadAnnotations(ac, ic, inputField.placeholder, adjustedMargin);
            <!-- oc.loadAnnotations(ac, oc, adjustedMargin); -->

            <!-- ic.contentCanvas.addEventListener('contextmenu', function(event) { -->
                <!-- event.preventDefault(); -->
            <!-- }, false); -->

            // Add annotation when content canvas is clicked
            oc.staticCanvas.addEventListener('contextmenu', function(event) {
                event.preventDefault();
                let annotOverlay = document.getElementById("annotation-overlays");
                // Do not add new annotations if it's hidden
                if (annotOverlay.style.visibility === "hidden") {
                    return;
                }

                <!-- let x = event.pageX - ac.annotationCanvas.offsetLeft; -->
                <!-- let y = event.pageY - ac.annotationCanvas.offsetTop; -->
                <!-- oc.insideGraph(x, y, ac.addAnnotation); -->
            }, false);

            oc.staticCanvas.addEventListener('mousemove', function (event) {
                if (ac.intersectsAnnotation(event.pageX - ac.annotationCanvas.offsetLeft,
                        event.pageY - ac.annotationCanvas.offsetTop, false)) {
                    oc.staticCanvas.style.cursor = 'pointer';
                } else {
                    oc.staticCanvas.style.cursor = 'default';
                }
            });

            oc.staticCanvas.addEventListener('mousedown', function (event) {
                // Only act on left mouse button click
                if (event.which != 1) {
                    return
                }

                ac.intersectsAnnotation(event.pageX - ac.annotationCanvas.offsetLeft,
                        event.pageY - ac.annotationCanvas.offsetTop, true);
            });

            window.addEventListener("beforeunload", function(e){
                ac.saveAnnotations();
            }, false);

            document.getElementById('region_form').addEventListener('submit',
                function (event) {
                event.preventDefault();
                ic.redraw(ic, ac, baf, logr, adjustedMargin, inputField.value);
                inputField.value = '';
            });

            ic.contentCanvas.addEventListener('mousedown', function (event) {
                event.stopPropagation();
                switch (event.which) {
                    case 1: // Left mouse click
                        // Save annotations
                        ac.saveAnnotations();

                        // Do not move interactive canvas if an annotation is present
                        if (!ac.intersectsAnnotation(event.pageX - ac.annotationCanvas.offsetLeft,
                                event.pageY - ac.annotationCanvas.offsetTop, true)) {
                            ic.moveImg = ic.contentCanvas.getContext('2d').getImageData(
                            0, ic.y + 2, ic.width, ic.height);
                            if (!ic.disallowDrag) {
                                dragStart = {
                                    x: event.pageX - ic.contentCanvas.offsetLeft,
                                    y: event.pageY - ic.contentCanvas.offsetTop
                                };
                                dragEnd = {
                                    x: event.pageX - ic.contentCanvas.offsetLeft,
                                    y: event.pageY - ic.contentCanvas.offsetTop
                                };
                                drag = true;
                            }
                        }
                        break;
                    case 3: // Right click
                        ac.addingAnnot = false;
                        break;
                        let annotOverlay = document.getElementById("annotation-overlays");
                        // Do not add new annotations if it's hidden
                        if (annotOverlay.style.visibility === "hidden") {
                            return;
                        }

                        let x = event.pageX - ac.annotationCanvas.offsetLeft;
                        let y = event.pageY - ac.annotationCanvas.offsetTop;
                        if (ic.insideGraph(x, y)) {
                            ac.addingAnnot = true;
                            dragStart = {
                                x: x,
                                y: y
                            };
                            dragEnd = {
                                x: x,
                                y: y
                            };
                        } else {
                            ac.addingAnnot = false;
                        }
                }
            });

            ic.contentCanvas.addEventListener('mousemove', function (event) {
                event.preventDefault();
                event.stopPropagation();
                switch (event.which) {
                    case 1: // Left mouse click
                        if (ac.intersectsAnnotation(event.pageX - ac.annotationCanvas.offsetLeft,
                                event.pageY - ac.annotationCanvas.offsetTop, false)) {
                            ic.contentCanvas.style.cursor = 'pointer';
                        } else {
                            ic.contentCanvas.style.cursor = 'default';
                        }
                        if (drag && !ic.disallowDrag) {
                            dragEnd = {
                                x: event.pageX - ic.contentCanvas.offsetLeft,
                                y: event.pageY - ic.contentCanvas.offsetTop
                            };

                            // Hide interactive annotations
                            ac.ctx.clearRect(0, 0, ac.annotationCanvas.width, ic.contentCanvas.height);
                            let annotation = document.querySelectorAll("[data-type='interactive']");
                            for (let i = 0; i < annotation.length; i++) {
                                annotation[i].style.visibility = 'hidden';
                            }

                            // Clear whole content canvas
                            ic.contentCanvas.getContext('2d').clearRect(0, ic.titleMargin / 2,
                                ic.contentCanvas.width, ic.contentCanvas.height);

                            // Copy draw image to content Canvas
                            ic.contentCanvas.getContext('2d').putImageData(
                                ic.moveImg,
                                dragEnd.x - dragStart.x,
                                ic.y + 2);
                        }
                        break;
                    case 3: // Right click
                        let annotOverlay = document.getElementById("annotation-overlays");
                        // Do not add new annotations if it's hidden
                        if (annotOverlay.style.visibility === "hidden") {
                            return;
                        }

                        let x = event.pageX - ac.annotationCanvas.offsetLeft;
                        let y = event.pageY - ac.annotationCanvas.offsetTop;
                        if (ac.addingAnnot && ic.insideGraph(x, y)) {
                            dragEnd = {
                                x: x,
                                y: y
                            };
                        }
                    break;
                }
            });

            ic.contentCanvas.addEventListener('mouseup', function (event) {
                event.preventDefault();
                event.stopPropagation();
                switch (event.which) {
                    case 1: // Left mouse click
                        if (drag) {
                            // Hide interactive annotations
                            ac.ctx.clearRect(0, 0, ac.annotationCanvas.width, ic.contentCanvas.height);
                            let annotation = document.querySelectorAll("[data-type='interactive']");
                            for (let i = 0; i < annotation.length; i++) {
                                annotation[i].style.visibility = 'visible';
                            }

                            ic.moveImg = null;
                            drag = false;
                            let scale = ic.boxWidth / (ic.end - ic.start);
                            let moveDist = Math.floor((dragStart.x - dragEnd.x) / scale);
                            if (ic.start + moveDist < 0) {
                                moveDist -= (ic.start + moveDist);
                            }
                            ic.start += moveDist;
                            ic.end += moveDist;
                            ic.disallowDrag = true;

                            ic.redraw(ic, ac, baf, logr, adjustedMargin, null);
                        }
                        break;
                    case 3: // Right click
                        let annotOverlay = document.getElementById("annotation-overlays");
                        // Do not add new annotations if it's hidden
                        if (annotOverlay.style.visibility === "hidden") {
                            return;
                        }

                        let x = event.pageX - ac.annotationCanvas.offsetLeft;
                        let y = event.pageY - ac.annotationCanvas.offsetTop;
                        if (ac.addingAnnot) {
                            if (ic.insideGraph(x, y)) {
                                dragEnd = {
                                    x: x,
                                    y: y
                                };
                            }
                            let width = Math.abs(dragEnd.x - dragStart.x);
                            let height = Math.abs(dragEnd.y - dragStart.y);
                            let x_pos = dragEnd.x - dragStart.x >= 0 ?
                                dragStart.x : dragEnd.x;
                            let y_pos = dragEnd.y - dragStart.y >= 0 ?
                                dragStart.y : dragEnd.y;
                            ac.ctx.clearRect(0, 0, ac.annotationCanvas.width, ic.height);
                            ac.addAnnotation(x_pos, y_pos, width, height, '', ic, 'interactive');
                            ac.drawAnnotations();
                        }
                        setTimeout(function(){ac.addingAnnot = false;}, 10);
                    break;
                }
            });

            function keyMapper (options) {
                const keystrokeDelay = options.keystrokeDelay || 1000;

                let state = {
                    buffer: '',
                    lastKeyTime: Date.now()
                };

                document.addEventListener('keydown', event => {
                    const key = event.key;
                    const currentTime = Date.now();
                    const eventType = window.event;
                    const target = eventType.target || eventType.scrElement;
                    const targetTagName = (target.nodeType === 1) ? target.nodeName.toUpperCase() : '';
                    let buffer = '';

                    // Do not listen to keydown events for active fields
                    if (/INPUT|SELECT|TEXTAREA/.test(targetTagName)) {
                        return;
                    }

                    if (key === 'Enter' &&
                            currentTime - state.lastKeyTime < keystrokeDelay) {
                        // Enter was pressed, process previous key presses.
                        if (state.buffer <= oc.numChrom && state.buffer > 0) {
                            // Display new chromosome
                            ic.chromosome = state.buffer;
                            ic.redraw (ic, ac, baf, logr, adjustedMargin, null);
                        }
                    } else if (!isFinite(key)) {
                        // Arrow keys for moving graph
                        switch (key) {
                        case 'ArrowLeft':
                            left(ic, baf, logr, sampleName);
                            break;
                        case 'ArrowRight':
                            right(ic, baf, logr, sampleName);
                            break;
                        case '+':
                            zoomIn(ic, baf, logr, sampleName);
                            break;
                        case '-':
                            zoomOut(ic, baf, logr, sampleName);
                            break;
                        default:
                            return;
                        }
                    } else if (currentTime - state.lastKeyTime > keystrokeDelay) {
                        // Reset buffer
                        buffer = key;
                    } else {
                        if (state.buffer.length > 1) {
                            // Buffer contains more than two digits, keep the last digit
                            buffer = state.buffer[state.buffer.length - 1] + key;
                        } else {
                            // Add new digit to buffer
                            buffer = state.buffer + key;
                        }
                    }

                    // Save current state
                    state = { buffer: buffer, lastKeyTime: currentTime };
                });
            }

            document.addEventListener('DOMContentLoaded', () => {
                'use strict';

                const options = {
                    eventType: 'keydown',
                    keystrokeDelay: 1000
                };

                keyMapper(options);
            });
        </script>
    </body>
</html>
