<!doctype html>
    <head>
        <link rel="stylesheet" href="static/css/flexboxgrid.min.css" type="text/css">
        <link rel="stylesheet" href="static/css/cov.css" type="text/css">
        <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    </head>

    <body>
        <div class="grid-container">
            <div id="interactive-container">
            </div>
            <div id="overview-container">
            </div>

            <div id="button-container">
                <form method="POST" id="region_form" action="{{url_for('coverage_view')}}">
                    <input name="region" type="text" size=20>
                    <input type="submit">
                </form>

                <button onclick="left();">left</button>
                <button onclick="right();">right</button>
                <button onclick="zoomIn();">+</button>
                <button onclick="zoomOut();">-</button>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/cov.js')}}"></script>

    </body>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        let logRMedian = {{median}};
        let title = "{{title}}";

        let callChrom = "{{call_chrom}}";
        let callStart = {{call_start}};
        let callEnd   = {{call_end}};

        var gc = new GeneCanvas(400, 300, "{{chrom}}", {{start}}, {{end}});
        var ctx = gc.dataCanvas.getContext("2d");

        let overviews = [5];
        for (let i = 1; i <= 5; i++) {

            if (i === 1) {
                overviews[i] = new OverviewCanvas(150, 400, i, true);
            } else {
                overviews[i] = new OverviewCanvas(150, 400, i, false);
            }

            $.getJSON($SCRIPT_ROOT + '/_getcov', {
                region: i + ":" + overviews[i].cvar.start + "-" + overviews[i].cvar.end,
                median: logRMedian
            }, function(result) {
                overviews[i].drawCoverage(result["data"], result["baf"]);
            });
        }

        gc.drawCoverage({{data|safe}}, {{baf|safe}});

        var drag = false;
        var dragStart;
        var dragEnd;

        gc.dataCanvas.addEventListener('mousedown', function(event) {
            if (!gc.cvar.disallowDrag) {
                dragStart = {
                    x: event.pageX - gc.dataCanvas.offsetLeft,
                    y: event.pageY - gc.dataCanvas.offsetTop
                }
                dragEnd = {
                    x: event.pageX - gc.dataCanvas.offsetLeft,
                    y: event.pageY - gc.dataCanvas.offsetTop
                }
                drag = true;
            }
        });

        gc.dataCanvas.addEventListener('mousemove', function(event) {
            if (drag && !gc.cvar.disallowDrag) {
                dragEnd = {
                    x: event.pageX - gc.dataCanvas.offsetLeft,
                    y: event.pageY - gc.dataCanvas.offsetTop
                }
                ctx.clearRect(0, 0, gc.dataCanvas.width, gc.dataCanvas.height);
                ctx.drawImage(gc.drawCanvas,
                              0,
                              0,
                              gc.drawCanvas.width,
                              gc.drawCanvas.height,
                              dragEnd.x - dragStart.x,
                              0,
                              gc.drawCanvas.width,
                              gc.drawCanvas.height);
            }
        });

        gc.dataCanvas.addEventListener('mouseup', function(event) {
            if (drag) {
                drag = false;
                let scale = gc.dataCanvas.width / (gc.cvar.end - gc.cvar.start);
                let move_dist = Math.floor((dragStart.x - dragEnd.x) / scale);
                if (gc.cvar.start + move_dist < 0 ) {
                    move_dist -= (gc.cvar.start + move_dist);
                }
                gc.cvar.start += move_dist;
                gc.cvar.end += move_dist;
                gc.cvar.disallowDrag = true;
                redraw();
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            'use strict';

            const options = {
                eventType: 'keydown',
                keystrokeDelay: 1000
            };

            keyMapper(options);
        });
    </script>
</html>
