<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>GENS</title>
        <link rel='stylesheet' href='{{ url_for('static', filename='css/gens.css') }}?u={{ last_updated }}' type='text/css'>
        <link rel='icon' href='data:,'>
        <script src='{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}'></script>
        <script src='{{ url_for('static', filename='js/three.min.js') }}'></script>
        <script src='{{ url_for('static', filename='js/genecanvas.js') }}?u={{ last_updated }}'></script>
        <script src='{{ url_for('static', filename='js/interactive.js') }}?u={{ last_updated }}'></script>
        <script src='{{ url_for('static', filename='js/track.js') }}?u={{ last_updated }}'></script>
        <script src='{{ url_for('static', filename='js/transcript.js') }}?u={{ last_updated }}'></script>
        <script src='{{ url_for('static', filename='js/annotation.js') }}?u={{ last_updated }}'></script>
        <script src='{{ url_for('static', filename='js/overview.js') }}?u={{ last_updated }}'></script>
    </head>

    <body>
        <div id='progress-container'>
            <span class='print-icon print' id='print-progress'></span>
            <progress value="0" max="1" id='progress-bar'></progress>
        </div>

        <div id='main-container'>
            <div class="header">
                <div id='left-group'>
                    <span class='header-icon no-print' id='info'></span>
                    <iframe id='info-box'
                        src='{{ url_for('static', filename='snippets/info.html')}}?u={{ last_updated }}'>
                    </iframe>
                    <span>{{todays_date}}</span>
                </div>
                <div id='center-group'>
                    <span title='Sample ID'><b>{{sample_name}}</b> (genome build: {{hg_type}})</span>
                </div>
                <div id='right-group'>
                    <span class='header-icon print no-print'
                        onclick='loadPrintPage(inputField.value);' title='Print'>
                    </span>
                </div>
            </div>

            <div id='grid-container'>
                <div id='visualization-container'>
                    <div id='interactive-container'>
                        <canvas id='interactive-content'></canvas>
                        <canvas id='interactive-static'></canvas>
                    </div>

                    <div id='track-container' class='info-container'>
                        <canvas id='track-canvas' class='info-canvas'></canvas>
                        <div id='track-titles' class='info-titles'></div>
                    </div>

                    <div id='annotation-container' class='info-container'>
                        <canvas id='annotation-canvas' class='info-canvas'></canvas>
                        <div id='annotation-titles' class='info-titles'></div>
                    </div>

                    <div id='button-container'>
                        <select id='source-list'></select>
                        <button onclick='left(ic);' class='icon no-print'>
                            <span class='icon arrow-left' title='Left'></span>
                        </button>
                        <button onclick='right(ic);' class='icon no-print'>
                            <span class='icon arrow-right' title='Right'></span>
                        </button>
                        <button onclick='zoomIn(ic);' class='icon no-print'>
                            <span class='icon search-plus' title='Zoom in'></span>
                        </button>
                        <button onclick='zoomOut(ic);' class='icon no-print'>
                            <span class='icon search-minus' title='Zoom out'></span>
                        </button>
                        <form id='region_form'>
                            <input onFocus='this.select();' id='region_field' type='text' size=20>
                            <input type='submit' class='no-print' title='Submit range'>
                        </form>
                    </div>

                    <div id='overview-container'>
                        <canvas id='overview-static'></canvas>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            // Print page settings
            let printing = false;
            if ('{{print_page}}' == 'true') {
                printing = true;
                document.body.style.width = '1122px';
                document.body.style.overflowY = 'hidden';
                document.getElementById('print-progress').style.visibility = 'visible';
            }

            // FLASK values
            const sampleName = '{{ sample_name }}';
            const hgType = {{hg_type}}
            const hgFileDir = '{{hg_filedir}}'

            // WEBGL values
            const near = 0.1;
            const far = 100;
            const lineMargin = 2; // Margin for line thickness

            // Listener values
            const inputField = document.getElementById('region_field');

            // Set first input field value for ic
            inputField.value = '{{chrom}}' + ':' + {{start}} + '-' + {{end}};
            inputField.placeholder = inputField.value;

            // Hide non-rendered content
            window.onload = (event) => {
                document.getElementById('grid-container').style.visibility = 'hidden';
            };


            // Initiate and draw interactive canvas
            let ic = new InteractiveCanvas(inputField, lineMargin, near, far,
                sampleName, hgType, hgFileDir);
            ic.drawStaticContent();
            ic.drawInteractiveContent();

            // Initiate and draw track canvas
            let tc = new Transcript(ic.x, ic.plotWidth, near, far, hgType);
            tc.drawTracks(inputField.value);

            // Initiate and draw annotation canvas
            let ac = new Annotation(ic.x, ic.plotWidth, near, far, hgType);

            // Initiate and draw overview canvas
            let oc = new OverviewCanvas(ic.x, ic.plotWidth, lineMargin, near,
                far, sampleName, hgType, hgFileDir);
            oc.drawOverviewContent(printing);

            // Redraw when new region is requested
            document.getElementById('region_form').addEventListener('submit',
                function (event) {
                    event.preventDefault();
                    ic.redraw(inputField.value);
                });
        </script>
    </body>
</html>
